.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f4f8;
}

.auth-card {
  background: white;
  padding: 30px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-header h2 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.auth-header span {
  color: #4a56e2;
}

.auth-header p span {
  color: black;
}

.document-icon {
  color: blue; 
  font-size: 24px;
  margin-bottom: 10px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #4a56e2;
  border-radius: 6px;
  padding: 12px;
}

.input-icon {
  color: #888;
  margin-right: 10px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  padding: 12px;
}

.primary-button {
  background-color: #4a56e2;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}


.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}


.popup {
  position: fixed; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  width: 20%;
  text-align: center;
  z-index: 10;
  background-color: white;
}

.popup.success {
  background-color: white;
  color: green;
}

.popup.success::before {
  content: '✔'; 
  color: green;
  font-size: 20px;
  margin-right: 10px;
}

.popup.error {
  background-color: #dc3545;
  color: white;
}

.popup-button {
  background-color: #4a56e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}
