
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.top-menu {
  position: fixed;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 5px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.top-menu h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.user-info {
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 32px;
}

.logout-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #4a56e2;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 1px;
  margin-right: 20px;
  margin-left: 25px;
}

.dashboard-main {
  flex: 1;
  padding: 150px;
  background-color: #f0f4f8;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: white;
  padding: 1px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 50px;
  padding-right: 20px;
  margin-left: 20px;
  margin-top: -30px;
}

.search-icon {
  color: #787878;
  margin-right: 10px;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

input {
  border: none;
  outline: none;
  max-height: 50px;
  padding: 13px;
}

.action-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #4a56e2;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: -30px;
  margin-right: 20px;
}

.content {
  display: flex;
  gap: 20px;
}

.documents {
  flex: 3;
  max-height: 100%;
  overflow-y: auto;
}

.document-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.document-card {
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  border-radius: 12px;
}

.file-preview {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: -10px;
  margin-left: -50px;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  width: 80%;
  height: 160px;
  -webkit-box-shadow: -7px 5px 23px -4px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -7px 5px 23px -4px rgba(0, 0, 0, 0.67);
  box-shadow: -7px 5px 23px -4px rgba(0, 0, 0, 0.67);
}

.file-details {
  flex: 1;
  font-size: 14px;
  color: #333;
  width: 100%;
  text-align: left;
  margin-bottom: -10px;
  padding-top: 20px;
}

.file-details p {
  margin: 4px 0;
}

.file-link {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

.file-image-preview {
  width: 100%;
  max-width: 150px;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.file-icon {
  font-size: 48px;
  color: #20c7d6;
  margin-bottom: 10px;
}

.popup-message {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;
}

.popup-message.success {
  background-color: #4caf50;
}

.popup-message.error {
  background-color: #f44336;
}

.close-icon {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border: 3px solid #333;
  border-radius: 10px;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #4a56e2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-modal {
  position: absolute;
  top: 29px;
  right: 3px;
  cursor: pointer;
  font-size: 24px;
  color: #333;

}

.file-preview img,
.file-preview iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.file-image-preview-full {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.file-iframe-preview {
  width: 100%;
  height: 100%;
}

.view-button{
  margin-top: 20px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 25px;
  font-size: 14px;
  background: linear-gradient(30deg, #0d58b4 0%, #206ba5 100%);
  -webkit-box-shadow: -7px 5px 23px -4px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -7px 5px 23px -4px rgba(0, 0, 0, 0.67);
  box-shadow: -7px 5px 23px -4px rgba(0, 0, 0, 0.67);
}

.delete-button {
  background: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: -25px;
  margin-left: 110px;
  gap: 10px;
  width: 90px;
  height: 25px;
  font-size: 14px;
  border-radius: 8px;
  background: linear-gradient(30deg, #b40d0d 0%, #810303 100%);
  -webkit-box-shadow: -7px 5px 23px -4px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -7px 5px 23px -4px rgba(0, 0, 0, 0.67);
  box-shadow: -7px 5px 23px -4px rgba(0, 0, 0, 0.67);
}

.download-button {
  background: none;
  border: none;
  color: green;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-right: 10px;
}

.modal-content p {
  font-size: 18px;
  margin-bottom: -10px;
  margin-left: 50px;
  width: 400px;
  height: 150px;
}

.modal-content button {
  margin: 10px 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  border-radius: 12px;
  margin-bottom: -120px;
  margin-right: 50px;

}

.modal-content button:first-of-type {
  background-color: red;
  color: white;
  margin-left: -200px;
}

.modal-content button:last-of-type {
  background-color: gray;
  color: white;
  margin-left: -10px;
}

/*Preview*/

.pic-name{
  text-align: center;
}

.file-preview-details {
  overflow-y: auto;
  max-height: 600px; /* Adjust the height as needed */

}

.delete-button{
  margin-left: 110px;
}

.file-preview-container p{
  margin-left: 70px;
}


.file-preview-container{
  width: 400px;
  height: auto;
  justify-content: center;
}

.btn-set{
  margin-left: 300px;
  margin-bottom: 50px;
}

.file-preview-container p {
  margin: 4px 0; /* Adjust the spacing between lines */
  line-height: 1.2; /* Adjust the line height for closer text */
}



/* Responsive styles */
@media (max-width: 1024px) {
  .dashboard-main {
    padding: 100px 20px;
  }
  .top-menu {
    padding: 10px 20px;
  }
  .top-menu h2 {
    font-size: 28px;
  }
  .user-info {
    font-size: 16px;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .dashboard-main {
    padding: 80px 10px;
  }
  .search-bar {
    width: 100%;
    margin-bottom: -50px;
    margin-left: 10px;
  }
  .action-button {
    margin-top: 20px;
    margin-left: 15px;
    width: 100%;
    justify-content: center;
  }
  .document-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .top-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .top-menu h2 {
    font-size: 24px;
  }
}
